# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/ar/file15xxxxx.txt
src/ar/file16xxxxxx.txt
src/ar/file17xxxxxxx.txt
src/binary/binary
src/binary/binary.comp
src/binary/binary.dat
src/binary/binary.dat.comp
src/binary/binary.exec
src/binary/binary.nm
src/binary/binary.o.comp
src/combine/app1
src/combine/app1.comp
src/combine/app1.exec
src/combine/app1.o.comp
src/combine/app1.o.nm
src/combine/app2
src/combine/app2.comp
src/combine/app2.exec
src/combine/app2.o.comp
src/combine/app2.o.nm
src/combine/combine
src/combine/combine.comp
src/combine/combine.exec
src/combine/combine_app1.o.comp
src/combine/combine_app1.o.nm
src/combine/combine_app2.o.comp
src/combine/combine_app2.o.nm
src/const/const
src/const/const.comp
src/const/const.o.comp
src/const/const_sub.o.comp
src/const/noconst.comp
src/constructor/constructor
src/constructor/constructor.comp
src/constructor/constructor.exec
src/continue/chflg.c
src/continue/chflg.comp
src/core/down
src/core/down.comp
src/core/down.readelf
src/ctors/ctors
src/ctors/ctors.comp
src/ctors/ctors.exec
src/ctors/ctors.nm
src/edata/edata
src/edata/edata.comp
src/edata/edata.exec
src/edata/edata.od
src/elfread/elfread.comp
src/elfsamp/elfsamp
src/elfsamp/elfsamp.comp
src/elfsamp/elfsamp.exec
src/elfsamp/readsec.comp
src/hello/hello
src/hello/hello_dump.txt
src/initialize/initialize
src/initialize/initialize.comp
src/initialize/initialize.exec
src/layer/alayer
src/layer/alayer.comp
src/layer/alayer.exec
src/layer/alayer2_local.comp
src/layer/alayer2_local.exec
src/layer/alayer_local.comp
src/layer/alayer_local.exec
src/layer/layer
src/layer/layer.comp
src/layer/layer.exec
src/layer/layer.o.comp
src/layer/layer2.o.comp
src/layer/layer_lib.o.comp
src/layer/layer_lib.o.nm
src/layer/layer_lib2.o.comp
src/layer/layer_lib_local.o.comp
src/layer/layer_lib_local.o.nm
src/layer/layer_sub1.o.comp
src/layer/layer_sub2.o.comp
src/layer/liblayer.a.comp
src/layer/liblayer.a.nm
src/layer/liblayer_local.a.comp
src/layer/liblayer_local.a.nm
src/layer/olayer
src/layer/olayer.comp
src/layer/olayer.exec
src/layer/olayer2_local
src/layer/olayer2_local.comp
src/layer/olayer2_local.exec
src/layer/olayer_local.comp
src/layer/olayer_local.exec
src/linker/linklib.comp
src/loader/chelf.comp
src/loader/gcc.shdr
src/loader/ls.phdr
src/loader/ls.shdr
src/pointer/pointer
src/pointer/pointer.comp
src/pointer/pointer.exec
src/pointer/pointer.nm
src/rasm/rasm
src/rasm/rasm.comp
src/rasm/rasm.o.comp
src/rasm/rasm.o.re
src/rasm/rasm.re
src/rasm/rasm2.o.re
src/section/section
src/section/section.comp
src/section/section.exec
src/section/section.nm
src/setjmp/setjmp
src/setjmp/setjmp2
src/shared/libsample.a.comp
src/shared/sample.o.re
src/shared/sample_pic.o.ra
src/shared/sample_pic.o.re
src/shared/sample_shared
src/shared/sample_shared.comp
src/shared/sample_shared.exec
src/shared/sample_shared.ldd
src/shared/sample_shared.re
src/shared/sample_static
src/shared/sample_static.comp
src/shared/sample_static.exec
src/shared/sample_static.re
src/stack/stack_sample.comp
src/values/values
src/weak/global
src/weak/global.comp
src/weak/global.exec
src/weak/global.nm
src/weak/global_a
src/weak/global_a.comp
src/weak/global_a.exec
src/weak/main.o.comp
src/weak/noglobal
src/weak/noglobal.comp
src/weak/noglobal.exec
src/weak/noglobal.nm
src/weak/noglobal_a
src/weak/noglobal_a.comp
src/weak/noglobal_a.exec
src/weak/weak.a.comp
src/weak/weak.o.nm
